{% extends "base.html" %}
                                
{% block content %}

<section class="engine"><a rel="external" href="#"></a></section>

<section class="mbr-section article mbr-parallax-background mbr-after-navbar" id="msg-box8-10" style="background-image: url(assets/images/desert.jpg); padding-top: 200px; padding-bottom: 80px;">

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h1 class="mbr-section-title display-2" style="font-size: 65px;">ABOUT OTM MUMBAI</h1>
                
                
            </div>
        </div>
    </div>

</section>

<section class="mbr-section" id="msg-box5-11" style="background-color: rgb(255, 255, 255); padding-top: 80px; padding-bottom: 80px;">

    
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">

              <div class="mbr-table-cell col-md-12 text-xs-center text-md-left content-size">
                 <h3 class="mbr-section-title display-2" style="font-size:37px;"><span style="font-weight: 600;">OTM MUMBAI 2018 | INDIA'S BIGGEST TRAVEL TRADE SHOW</span></h3>
                  
                  <div class="lead" style="font-size:25px !important; font-style:oblique !important;">

                    <p>
                        OTM is India’s biggest travel trade show. It is organised every year in the largest travel market in India – Mumbai.
                        OTM provides you the most effective reach to the most lucrative travel markets of India.
                         <br><br>
                            • 20.38 million Indian outbound travelers in 2015, likely to grow to 50 mn in 2020.
                             <br>
                            • International tourism expenditure by Indians likely to grow to US$ 28 bn in 2020.
                            <br>
                            • 850 mn domestic tourists, many with potential to travel abroad.
                            <br>                        
                        
                    </p>

                  </div>

                  
              </div>


              

            </div>
        </div>
    </div>

</section>

<section class="mbr-section mbr-section__container" id="map2-49" style="background-color: rgb(255, 255, 255); padding-top: 40px; padding-bottom: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mbr-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJJYrXeMq35zsRNt0KgDcaakA" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features4-4p" style="background-color: rgb(255, 255, 255);">

    <div class="mbr-cards-row row">
       
       
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
               
        <div class="container">
                <div class="card cart-block">
                    
                    <div class="card-block">
                        
                        
                        <p class="card-text">23rd Jan
                            <br>Bombay Exhibition Center
                            <br>(Open for All)
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    
                    <div class="card-block">
                        
                        
                        <p class="card-text">24th Jan
                            <br>Bombay Exhibition Center
                            <br>(Open for All)
                        </p>
                        
                    </div>
                </div>
          </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    
                    <div class="card-block">
                        
                        
                        <p class="card-text">25th Jan
                            <br>Bombay Exhibition Center
                            <br>(Open for All)
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section>


{% endblock %}