{% extends "base.html" %}
                                
{% block content %}

	

<section class="mbr-section article mbr-parallax-background mbr-after-navbar" id="msg-box8-1a" style="background-image: url(assets/images/desert.jpg); padding-top: 200px; padding-bottom: 120px;">

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">
                Advertising Materials
                </h3>
                
                
            </div>
        </div>
    </div>

</section>


<section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-5n" style="background-color: rgb(255, 255, 255);">

  
   <div class="container">
       
       <form action="#" method="post">
       
       <div class="mbr-cards-row row" style="padding-right:5%; padding-left:5%;">
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 40px; padding-right:15px; padding-left:15px;">
            <div class="container" style="padding: 10px; border: 1px solid #e0e0e0; border-radius: 15px;">
              <div class="card cart-block">
                  <div class="card-img"><img src="assets/images/placeholder550.png" class="card-img-top"></div>
                  <div class="card-block">
                    <h4 class="card-title">Buyers and VIP Kit Bags
                    </h4>
                    
                    <p class="card-text"> Welcome bags containing information about the exhibition will be distributed to VIP's, Press & Buyers. Your logo will appear on the bag.  </p>
                    <div class="card-btn">
                    
                       <p style="text-align:center; font-size:13px;"><em>
                       *per 1000 nos.</em>
                       </p>
                       
                        <div class="form-group">
                            <input type="checkbox" data-toggle="toggle" data-on="Rs.5,00,000* / USD 8500*" data-off="Interested?" data-size="mini">
                        </div>
                                     
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 40px; padding-right:15px; padding-left:15px;">
            <div class="container" style="padding: 10px; border: 1px solid #e0e0e0; border-radius: 15px;">
              <div class="card cart-block">
                  
                  <div class="card-img">
                  
                  <img src="assets/images/placeholder550.png" class="card-img-top">
                  
                  </div>
                  
                   <div class="card-block">
                    <h4 class="card-title">Lanyard
                    </h4>
                    
                    <p class="card-text">Attractive lanyards are produced to hold the entry badges and distributed to all exhibitors, trade visitors, press, delegates, VIPs. Your logo will appear on the lanyard.</p>
                    <div class="card-btn">
                       
                       <p style="text-align:center; font-size:13px;"><em>
                       *per 10000 nos.</em>
                       </p>
                       
                        <div class="form-group">
                            <input type="checkbox" data-toggle="toggle" data-on="Rs.3,00,000* / USD 5000*" data-off="Interested?" data-size="mini">
                        </div>
                    <!--<a href="https://mobirise.com" class="btn btn-primary btn-block">
                    </a>-->
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 40px; padding-right:15px; padding-left:15px;">
            <div class="container" style="padding: 10px; border: 1px solid #e0e0e0; border-radius: 15px;">
              <div class="card cart-block">
                  <div class="card-img"><img src="assets/images/placeholder550.png" class="card-img-top"></div>
                  <div class="card-block">
                    <h4 class="card-title"> Show Carry Bag
                   </h4>
                    
                    <p class="card-text">Provide visitors with show bags to help them collect information. Your logo and message will appear on the show carry bags to be distributed from the registration area and help desk counters.</p>
                    <div class="card-btn">
                       
                       <p style="text-align:center; font-size:13px;"><em>
                       *per 5000 nos.</em>
                       </p>
                       
                        <div class="form-group">
                            <input type="checkbox" data-toggle="toggle" data-on="Rs.3,00,000* / USD 5000*" data-off="Interested?" data-size="mini">
                        </div>
                    <!--<a href="https://mobirise.com" class="btn btn-primary btn-block">
                    </a>-->
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </div>
    
        <div class="mbr-cards-row row" style="padding-right:5%; padding-left:5%;">
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 40px; padding-right:15px; padding-left:15px;">
            <div class="container" style="padding: 10px; border: 1px solid #e0e0e0; border-radius: 15px;">
              <div class="card cart-block">
                  <div class="card-img"><img src="assets/images/placeholder550.png" class="card-img-top"></div>
                  <div class="card-block">
                    <h4 class="card-title">Drinking Water

                    </h4>
                    
                    <p class="card-text"> 5000 drinking water bottles are distributed to all exhibitors and kept in Buyers' lounges. Sponsoring it is a cost-effective means to generate goodwill. </p>
                    <div class="card-btn">
                       
                        <div class="form-group">
                            <input type="checkbox" data-toggle="toggle" data-on="Rs.65,000* / USD 1000*" data-off="Interested?" data-size="mini">
                        </div>
                                     
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 40px; padding-right:15px; padding-left:15px;">
            <div class="container" style="padding: 10px; border: 1px solid #e0e0e0; border-radius: 15px;">
              <div class="card cart-block">
                  
                  <div class="card-img">
                  
                  <img src="assets/images/placeholder550.png" class="card-img-top">
                  
                  </div>
                  
                   <div class="card-block">
                    <h4 class="card-title">Badge
                    </h4>
                    
                    <p class="card-text">The badge is one of the widely distributed and most visible element. Badges will be provided to all participants, trade visitors, press, delegates, VIPs. Your logo will appear in the main section of the badge. </p>
                    <div class="card-btn">
                       
                       <p style="text-align:center; font-size:13px;"><em>
                       *per 10,000 nos.</em>
                       </p>
                       
                        <div class="form-group">
                            <input type="checkbox" data-toggle="toggle" data-on="Rs.3,00,000* / USD 5000*" data-off="Interested?" data-size="mini">
                        </div>
                    <!--<a href="https://mobirise.com" class="btn btn-primary btn-block">
                    </a>-->
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 40px; padding-right:15px; padding-left:15px;">
            <div class="container" style="padding: 10px; border: 1px solid #e0e0e0; border-radius: 15px;">
              <div class="card cart-block">
                  <div class="card-img"><img src="assets/images/placeholder550.png" class="card-img-top"></div>
                  <div class="card-block">
                    <h4 class="card-title"> Business Card Album
                   </h4>
                    
                    <p class="card-text">3000 registered visitors and buyers at the exhibition will be given an attractive business card album. Sponsoring this may be the most effective means to register your brand to the most important visitors in the exhibition, for a long time. </p>
                    <div class="card-btn">
                    
                       
                        <div class="form-group">
                            <input type="checkbox" data-toggle="toggle" data-on="Rs.1,30,000* / USD 2000*" data-off="Interested?" data-size="mini">
                        </div>
                    <!--<a href="https://mobirise.com" class="btn btn-primary btn-block">
                    </a>-->
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </div>
        
       
       
       <div class="container-fluid" style="padding-top:40px; padding-bottom:40px; text-align:center;">
       
       <button type="submit" class="btn btn-primary">Contact/Send</button>    
      
        </div>
       
       
       
       
       
   </form> 
   
   
   
   </div>
    
   
    
</section>

<hr>


<section class="mbr-section article mbr-section__container" id="content6-1g" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 lead">
            <h4 class="lead">
                Sponsorship Packages
            </h4>    
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <br>
                <div>
                <button class="btn btn-sm btn-black">View Options</button>
                </div>
            
            
            
            
            </div>
            
            <div class="col-xs-12 col-md-4 lead">
            <h4 class="lead">
            
                Advertising Materials
            </h4>    
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                
                <div>
                <button class="btn btn-sm btn-black">View Options</button>
                </div>
            
            
            
            
            </div>
            
            <div class="col-xs-12 col-md-4 lead">
            <h4 class="lead">
            
                Digital and print Advertising
            </h4>    
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                
                <div>
                <button class="btn btn-sm btn-black">View Options</button>
                </div>
            
            
            
            
            </div>
            
        </div>
    </div>

</section>
	





{% endblock %}