{% extends "base.html" %}
                                
{% block content %}



<section class="mbr-section article mbr-parallax-background mbr-after-navbar" id="msg-box8-1a" style="background-image: url(assets/images/desert.jpg); padding-top: 200px; padding-bottom: 120px;">

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">
                Digital Print Advertising
                </h3>
                
                
            </div>
        </div>
    </div>

</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-5n" style="background-color: rgb(255, 255, 255);">

  
   <div class="container">
       
       <form action="#" method="post">
       
        <div class="mbr-cards-row row" style="padding-right:5%; padding-left:5%;">
        <div class="mbr-cards-col col-xs-12" style="padding-top: 80px; padding-bottom: 40px; padding-right:15px; padding-left:15px;">
            <div class="container" style="padding: 10px; border: 1px solid #e0e0e0; border-radius: 15px;">
              <div class="card cart-block">
                  <div class="card-img"><img src="assets/images/placeholder900.png" class="card-img-top"></div>
                  <div class="card-block">
                    <h4 class="card-title" style="text-align:left">Walk-Way Billboards
                    </h4>
                    
                    <p class="card-text" style="text-align:left;"> Have your message/ad on 10ft ht x 12ft wide billboards in main walkway leading upto the main entrance. </p>
                    <div class="card-btn" >
                    
                       <p style="text-align:left; font-size:13px;"><em>
                       * (per piece)</em>
                       </p>
                       
                        <div class="form-group" style="text-align:left">
                            <input type="checkbox" data-toggle="toggle" data-on="Rs. 30,000* / USD 500" data-off="Interested?" data-size="mini">
                        </div>
                                     
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        </div>
    
        <div class="mbr-cards-row row" style="padding-right:5%; padding-left:5%;">
        <div class="mbr-cards-col col-xs-12" style="padding-top: 80px; padding-bottom: 40px; padding-right:15px; padding-left:15px;">
            <div class="container" style="padding: 10px; border: 1px solid #e0e0e0; border-radius: 15px;">
              <div class="card cart-block">
                  <div class="card-img"><img src="assets/images/placeholder900.png" class="card-img-top"></div>
                  <div class="card-block">
                    <h4 class="card-title" style="text-align:left">Hall Layout Plans

                    </h4>
                    
                    <p class="card-text" style="text-align:left;"> Give your company a never before exposure. A site much referred to by all visiting delegates. The layout plans will be placed at prime locations in the fair ground. Your logo will appear below the layout plan, giving your company an instant edge.  </p>
                    <div class="card-btn" >
                    
                       <p style="text-align:left; font-size:13px;"><em>
                       * 5 nos</em>
                       </p>
                       
                        <div class="form-group" style="text-align:left">
                            <input type="checkbox" data-toggle="toggle" data-on=" Rs.60,000* / USD 1000*
                            " data-off="Interested?" data-size="mini">
                        </div>
                                     
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        </div>
        
        <div class="mbr-cards-row row" style="padding-right:5%; padding-left:5%;">
        <div class="mbr-cards-col col-xs-12" style="padding-top: 80px; padding-bottom: 40px; padding-right:15px; padding-left:15px;">
            <div class="container" style="padding: 10px; border: 1px solid #e0e0e0; border-radius: 15px;">
              <div class="card cart-block">
                  <div class="card-img"><img src="assets/images/placeholder900.png" class="card-img-top"></div>
                  <div class="card-block">
                    <h4 class="card-title" style="text-align:left">Display Panels (Standees)

                    </h4>
                    
                    <p class="card-text" style="text-align:left;"> Have your company name and message prominently displayed across the event at vantage locations on self standing 8' high x 3' wide panel.  </p>
                    <div class="card-btn" >
                    
                       <p style="text-align:left; font-size:13px;"><em>
                       * (per piece)</em>
                       </p>
                       
                        <div class="form-group" style="text-align:left">
                            <input type="checkbox" data-toggle="toggle" data-on="Rs. 15,000* / USD 250" data-off="Interested?" data-size="mini">
                        </div>
                                     
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        </div>
        
        <div class="mbr-cards-row row" style="padding-right:5%; padding-left:5%;">
        <div class="mbr-cards-col col-xs-12" style="padding-top: 80px; padding-bottom: 40px; padding-right:15px; padding-left:15px;">
            <div class="container" style="padding: 10px; border: 1px solid #e0e0e0; border-radius: 15px;">
              <div class="card cart-block">
                  <div class="card-img"><img src="assets/images/placeholder900.png" class="card-img-top"></div>
                  <div class="card-block">
                    <h4 class="card-title" style="text-align:left">Roadshow for Travel Trade/Press
                    </h4>
                    
                    <p class="card-text" style="text-align:left;"> Conducting an exclusive roadshow for travel trade provides an opportunity to showcase the destination to visiting travel trade and meetings & incentive buyers. We will provide a complete roadshow solution for 100 travel trade members. Press will not be invited in Mumbai and New Delhi (it will be only trade and no media). In other locations also, though press will be invited, there is no surety of coverage.</p>
                    <div class="card-btn" >
                    
                       <p style="text-align:left; font-size:13px;"><em>
                       * Select your requirement</em>
                       </p>
                       
                        <div class="form-group" style="text-align:left">
                           
                            <div class="btn-group" data-toggle="buttons">
                           
                            <input type="checkbox" data-toggle="toggle" data-on="Rs. 5,00,000* / USD 8500" data-off="At Show Venue" data-size="mini">
                            
                            <input type="checkbox" data-toggle="toggle" data-on="Rs. 10,00,000* / USD 17000" data-off="At 5 star Hotel" data-size="mini">
                            
                            
                            </div>
                            
                        </div>
                                     
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        </div>
        
        <div class="mbr-cards-row row" style="padding-right:5%; padding-left:5%;">
        <div class="mbr-cards-col col-xs-12" style="padding-top: 80px; padding-bottom: 40px; padding-right:15px; padding-left:15px;">
            <div class="container" style="padding: 10px; border: 1px solid #e0e0e0; border-radius: 15px;">
              <div class="card cart-block">
                  <div class="card-img"><img src="assets/images/placeholder900.png" class="card-img-top"></div>
                  <div class="card-block">
                    <h4 class="card-title" style="text-align:left">Registration Area

                    </h4>
                    
                    <p class="card-text" style="text-align:left;"> Give your logo a headstart. Registration counters will be situated at the entrance for the registration of delegates, business visitors and general visitors. Your logo will appear on the registration backdrop and front fascia of the registration counter. You will be provided with self standing display wall at vantage locations for putting up your publicity posters / logo / branding.  </p>
                    <div class="card-btn" >
                    
                       
                       
                        <div class="form-group" style="text-align:left">
                            <input type="checkbox" data-toggle="toggle" data-on="Rs.5,00,000* / USD 8500*
                            " data-off="Interested?" data-size="mini">
                        </div>
                                     
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        </div>
        
        <div class="mbr-cards-row row" style="padding-right:5%; padding-left:5%;">
        <div class="mbr-cards-col col-xs-12" style="padding-top: 80px; padding-bottom: 40px; padding-right:15px; padding-left:15px;">
            <div class="container" style="padding: 10px; border: 1px solid #e0e0e0; border-radius: 15px;">
              <div class="card cart-block">
                  <div class="card-img"><img src="assets/images/placeholder900.png" class="card-img-top"></div>
                  <div class="card-block">
                    <h4 class="card-title" style="text-align:left">Networking Lunch/Dinner/Breakfast

                    </h4>
                    
                    <p class="card-text" style="text-align:left;">Networking lunch / breakfast / dinner is attended by the decision makers from the exhibiting companies and other companies from the travel trade. Your logo will be displayed at various prominent locations in the dining area. You will be provided with self standing display wall at vantage locations for putting up your publicity posters / logo / branding. You will also be given 15 min's for A/V presentation. </p>
                    <div class="card-btn" >
                    
                       <p style="text-align:left; font-size:13px;"><em>
                       *  500 invites (Select your Requirement)</em>
                       </p>
                       
                        <div class="form-group" style="text-align:left">
                            <div class="btn-group" data-toggle="buttons">
                           
                            <input type="checkbox" data-toggle="toggle" data-on="Rs 5,00,000* / USD 8,500* " data-off="Lunch/Breakfast" data-size="mini">
                            
                            <input type="checkbox" data-toggle="toggle" data-on=" Rs 10,00,000* / USD 17,000*
" data-off="Dinner" data-size="mini">
                            
                            
                            </div>
                        </div>
                                     
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        </div>
       
       
<div class="container-fluid" style="padding-top:40px; padding-bottom:40px; text-align:center;">
       
   <button type="submit" class="btn btn-primary">Contact/Send</button>    
      
</div>
       
       
       
       
       
   </form> 
   
   
   
   </div>
    
   
    
</section>

<hr>


<section class="mbr-section article mbr-section__container" id="content6-1g" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 lead">
            <h4 class="lead">
                Sponsorship Packages
            </h4>    
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <br>
                <div>
                <button class="btn btn-sm btn-black">View Options</button>
                </div>
            
            
            
            
            </div>
            
            <div class="col-xs-12 col-md-4 lead">
            <h4 class="lead">
            
                Advertising Materials
            </h4>    
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                
                <div>
                <button class="btn btn-sm btn-black">View Options</button>
                </div>
            
            
            
            
            </div>
            
            <div class="col-xs-12 col-md-4 lead">
            <h4 class="lead">
            
                Digital and print Advertising
            </h4>    
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                
                <div>
                <button class="btn btn-sm btn-black">View Options</button>
                </div>
            
            
            
            
            </div>
            
        </div>
    </div>

</section>







{% endblock %}