{% extends "base.html" %}
                                
{% block content %}




<section class="engine"><a rel="external" href="#"></a></section>
    
<section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-after-navbar" id="header5-24" style="background-image: url(assets/images/imgal7-2000x1334.png);">

    <div class="mbr-overlay" id="overlayexOTM" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>

    <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-10">

                    <h1 class="mbr-section-title display-1">Exhibiting @OTM</h1>
                    <p class="mbr-section-lead lead">Full screen intro with color background.<br>Buttons, text and title are aligned to the left.</p>
                    <div class="mbr-section-btn"><a class="btn btn-lg btn-primary" href="#">BOOK A STAND</a></div>
                </div>
            </div>
        </div>
    </div>

    

</section>

<section class="mbr-section article mbr-section__container" id="content1-25" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 0px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead"><h3>Why Exhibit here?&nbsp;</h3></div>
        </div>
    </div>

</section>

<section class="mbr-section article mbr-section__container" id="content1-26" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead"><p>OTM Mumbai has the largest exhibiting space and the highest number of participants in any travel show in India. Mumbai is the largest travel market in the country, generating one-third (33%) of all India-outbound travellers.</p></div>
        </div>
    </div>

</section>


<section class="mbr-section article mbr-section__container" id="content1-25" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead"><h3>Support for your presence </h3></div>
        </div>
    </div>

</section>



<section class="mbr-section" id="msg-box5-1r" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 80px;">

    
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">

              <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 50%;">
                  <div class="mbr-figure"><img src="assets/images/otm-exhibitor-1400x1563.jpg" style="max-width:400px;"></div>
              </div>

              


              <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">
                  
                  <div class="row">
                    <div class="col-lg-12">

                    <p>India’s biggest hosted buyer program was introduced at OTM in 2015. Since then, hundreds of qualified buyers are hosted every year during the OTM.</p>
                    <p>India’s biggest hosted buyer program was introduced at OTM in 2015. Since then, hundreds of qualified buyers are hosted every year during the OTM.</p>
                    </div>
                  </div>
                  <div class="row">
            <div class="col-xs-12 col-lg-12">
              
        <section class="mbr-cards mbr-section mbr-section-nopadding" id="features4-4u" style="background-color: #fff; padding-top: 20px; padding-bottom: 20px;">

            <div class="card-group">
              <div class="card">
               <h4 class="card-title" style="padding :20px;">Sponsorship and Promotion</h4>
                <a href="#"><img class="card-img-bottom img img-responsive" src="assets/images/plc1.png" alt="Card image cap" style="max-width:170px; min-width:100px;"></a>
                <div class="card-block">

                </div>
              </div>
              <div class="card">
                   <h4 class="card-title" style="padding :20px;">Exhibition Grounds</h4>
                    <a href=""><img class="card-img-bottom img img-responsive" src="assets/images/plc2.png" alt="Card image cap" style="max-width:170px; min-width:100px;">
                    </a>
                    <div class="card-block">

                    </div>
                  </div>
                <div class="card">
                   <h4 class="card-title" style="padding :20px;">Travel Information</h4>
                    <a href=""><img class="card-img-bottom img img-responsive" src="assets/images/plc3.png" alt="Card image cap" style="max-width:170px; min-width:100px;"></a>
                    <div class="card-block">

                    </div>
                  </div>
  
                </div>






        </section>
         </div>
          </div>

                  
              </div>
              <br>
              
              
                
                
              <!--<div><a class="btn btn-info btn" href="#" style="border-radius:0; min-width:280px;">Sponsorship and Promotion</a></div>
                  <div><a class="btn btn-info btn" href="#" style="border-radius:0; min-width:280px;">Exhibition grounds</a></div>
                  <div><a class="btn btn-info btn" href="#" style="border-radius:0; min-width:280px;">Travel Information</a></div>-->

            </div>
        </div>
    </div>

</section>

<section class="mbr-section article mbr-section__container" id="content1-25" style="background-color: #f5f5f5; padding-top: 20px; padding-bottom: 5px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead"><h3 style="text-align: center;">Exhibition Catalogue</h3></div>
        </div>
    </div>

</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features4-4j" style="background-color: #f5f5f5;">

    

    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img iconbox"><a href="#" class="etl-icon icon-book-open mbr-iconfont mbr-iconfont-features4" style="color: rgb(249, 115, 82);"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Exhibition Directory</h4>
                        
                        <p class="card-text">Advertising in the Exhibition Directory is a very effective way to reach out and enhance your communication with the travel trade</p>
                        <div class="card-btn"><a href="#" class="btn btn-black">DOWNLOAD NOW</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img iconbox"><a href="#" class="etl-icon icon-newspaper mbr-iconfont mbr-iconfont-features4" style="color: rgb(249, 115, 82);"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Exhibition Brochure</h4>
                        
                        <p class="card-text">The Exhibition Brochure gives you at a glance information for planning your participation in the OTM.</p>
                        <div class="card-btn"><a href="#" class="btn btn-black">DOWNLOAD NOW</a></div>
                    </div>
                </div>
          </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img iconbox"><a href="#" class="mbri-info mbr-iconfont mbr-iconfont-features4" style="color: rgb(249, 115, 82);"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Exhibitor Handbook</h4>
                        
                        <p class="card-text">The Exhibitor Handbook has useful information, once you have decided to participate in the OTM.</p>
                        <div class="card-btn"><a href="#" class="btn btn-black">DOWNLOAD NOW</a></div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </div>
</section>








{% endblock %}