{% extends "base.html" %}
                                
{% block content %}



<section class="engine"><a rel="external" href="#"></a></section>

<section class="mbr-section mbr-parallax-background mbr-after-navbar" id="testimonials4-19" style="background-image: url(assets/images/cover-2000x2830.png); padding-top: 160px; padding-bottom: 120px;">

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(255, 255, 255);">
    </div>

        <div class="mbr-section mbr-section__container mbr-section__container--middle">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-xs-center">
                        <h3 class="mbr-section-title display-2">FREQUENTLY ASKED QUESTIONS</h3>
                        
                    </div>
                </div>
            </div>
        </div>


    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">

                <div class="col-xs-12">

                    <div class="mbr-testimonial card">
                       
                       <div class="mbr-author-name" style="padding-bottom:20px;">Lorem ipsum dolor sit amet, consectetur adipisci?</div>
                       
                        <div class="card-block"><p>“its really very amazing app that makes me finish html page in 3 minutes ( that's usually takes more than 1 hours at least from me if i did it from scratch). i hope to have very big library and plugins for this APP thanks again for your nice application”</p></div>
                        <div class="mbr-author card-footer">
                            
                            
                            
                        </div>
                    </div><div class="mbr-testimonial card">
                        <div class="card-block"><p>“First of all hands off to you guys for your effort and nice, super tool. Good work mobirise team. We are expecting the new version soon with advance functionality with full bootstrap design. Great effort and super UI experience with easy drag &amp; drop with no time design bootstrap builder in present web design world.”</p></div>
                        <div class="mbr-author card-footer">
                            
                            <div class="mbr-author-name">Suffian A.</div>
                            
                        </div>
                    </div><div class="mbr-testimonial card">
                        <div class="card-block"><p>“At first view, looks like a nice innovative tool, i like the great focus and time that was given to the responsive design, i also like the simple and clear drag and drop features. Give me more control over the object's properties and ill be using this tool for more serious projects. Regards.”</p></div>
                        <div class="mbr-author card-footer">
                            
                            <div class="mbr-author-name">Jhollman C.</div>
                            
                        </div>
                    </div><div class="mbr-testimonial card">
                        <div class="card-block"><p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aspernatur, voluptatibus, atque, tempore molestiae sed modi a ullam sint adipisci rerum vel praesentium voluptas deserunt veniam provident culpa sequi veritatis.”</p></div>
                        <div class="mbr-author card-footer">
                            
                            <div class="mbr-author-name">John Smith</div>
                            
                        </div>
                    </div><div class="mbr-testimonial card">
                        <div class="card-block"><p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aspernatur, voluptatibus, atque, tempore molestiae sed modi a ullam sint adipisci rerum vel praesentium voluptas deserunt veniam provident culpa sequi veritatis.”</p></div>
                        <div class="mbr-author card-footer">
                            
                            <div class="mbr-author-name">John Smith</div>
                            
                        </div>
                    </div><div class="mbr-testimonial card">
                        <div class="card-block"><p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aspernatur, voluptatibus, atque, tempore molestiae sed modi a ullam sint adipisci rerum vel praesentium voluptas deserunt veniam provident culpa sequi veritatis.”</p></div>
                        <div class="mbr-author card-footer">
                            
                            <div class="mbr-author-name">John Smith</div>
                            
                        </div>
                    </div><div class="mbr-testimonial card">
                        <div class="card-block"><p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aspernatur, voluptatibus, atque, tempore molestiae sed modi a ullam sint adipisci rerum vel praesentium voluptas deserunt veniam provident culpa sequi veritatis.”</p></div>
                        <div class="mbr-author card-footer">
                            
                            <div class="mbr-author-name">John Smith</div>
                            
                        </div>
                    </div><div class="mbr-testimonial card">
                        <div class="card-block"><p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aspernatur, voluptatibus, atque, tempore molestiae sed modi a ullam sint adipisci rerum vel praesentium voluptas deserunt veniam provident culpa sequi veritatis.”</p></div>
                        <div class="mbr-author card-footer">
                            
                            <div class="mbr-author-name">John Smith</div>
                            
                        </div>
                    </div><div class="mbr-testimonial card">
                        <div class="card-block"><p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aspernatur, voluptatibus, atque, tempore molestiae sed modi a ullam sint adipisci rerum vel praesentium voluptas deserunt veniam provident culpa sequi veritatis.”</p></div>
                        <div class="mbr-author card-footer">
                            
                            <div class="mbr-author-name">John Smith</div>
                            
                        </div>
                    </div><div class="mbr-testimonial card">
                        <div class="card-block"><p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aspernatur, voluptatibus, atque, tempore molestiae sed modi a ullam sint adipisci rerum vel praesentium voluptas deserunt veniam provident culpa sequi veritatis.”</p></div>
                        <div class="mbr-author card-footer">
                            
                            <div class="mbr-author-name">John Smith</div>
                            
                        </div>
                    </div><div class="mbr-testimonial card">
                        <div class="card-block"><p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aspernatur, voluptatibus, atque, tempore molestiae sed modi a ullam sint adipisci rerum vel praesentium voluptas deserunt veniam provident culpa sequi veritatis.”</p></div>
                        <div class="mbr-author card-footer">
                            
                            <div class="mbr-author-name">John Smith</div>
                            
                        </div>
                    </div><div class="mbr-testimonial card">
                        <div class="card-block"><p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aspernatur, voluptatibus, atque, tempore molestiae sed modi a ullam sint adipisci rerum vel praesentium voluptas deserunt veniam provident culpa sequi veritatis.”</p></div>
                        <div class="mbr-author card-footer">
                            
                            <div class="mbr-author-name">John Smith</div>
                            
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>












{% endblock %}