{% extends "base.html" %}
                                
{% block content %}




<section class="engine"><a rel="external" href="#">#/</a></section>
    
    
<section class="mbr-section article mbr-parallax-background mbr-after-navbar" id="msg-box8-4c" style="background-image: url(assets/images/desert.jpg); padding-top: 200px; padding-bottom: 160px;">

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">HOSTED BUYERS AT OTM</h3>
                
                
            </div>
        </div>
    </div>

</section>



<section class="mbr-section" id="msg-box5-4d" style="background-color: rgb(255, 255, 255);">

    
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">

              <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 31%;">
                  <div class="mbr-figure"><img src="assets/images/otm-host-1400x1562.jpg"></div>
              </div>

              


              <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">
                  
                  <div class="lead">

                    <p>India’s biggest hosted buyer program was introduced at OTM in 2015. Since then, hundreds of qualified buyers are hosted every year during the OTM.<br><br>The number of hosted buyers at OTM is expected to double this year. More than a thousand sellers from all over the world will meet thousands of buyers at the OTM in Mumbai - India's largest source market of travel.<br><br>23rd – 25th Feb, 2018<br>Bombay Exhibition Centre, NSE Complex, Goregaon (E)<br></p>

                  </div>

                  <div class="container"><a class="btn btn-primary" href="#">REGISTER NOW</a> 
                </div>
              </div>


              

            </div>
        </div>
    </div>

</section>

<section class="mbr-section article mbr-section__container" id="content1-4v" style="background-color: #f5f5f5; padding-top: 40px; padding-bottom: 40px; text-align:center;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead"><h3>BENEFITS</h3></div>
        </div>
    </div>

</section>


<!--NEW***-->

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features4-4u" style="background-color: #f5f5f5;">

    

    <div class="mbr-cards-row row" style="padding-left:10%; padding-right:10%;">
       
    <!--   <div class="mbr-cards-col hidden-xs col-lg-1">
           <i class="fa fa-ticket fa-4x"></i>
       </div> -->
       
       
       
        <div class="mbr-cards-col col-xs-12 col-lg-4" id="desccards">
            <div class="container">
               <div class="row">
               <div class="col-xs-3">
                   <i class="fa fa-ticket fa-2x"></i>
               </div>
                <div class="col-xs-9">
                    <div class="card cart-block">
                    
                        <div class="card-block">
                       
                            <p class="card-text" style="text-align:left !important;">Free Tickets for ITB Berlin and ITB Berlin Convention</p>
                        
                        </div>
                    </div>
                    
                    
                    
                </div>
                   
                   
            </div>
            </div>
        </div>
        
        
        <div class="mbr-cards-col col-xs-12 col-lg-4" id="desccards">
            <div class="container">
               <div class="row">
               <div class="col-xs-3">
                   <i class="fa fa-handshake-o fa-2x"></i>
               </div>
                <div class="col-xs-9">
                    <div class="card cart-block">
                    
                        <div class="card-block">
                       
                            <p class="card-text" style="text-align:left !important;">Free Tickets for ITB Berlin and ITB Berlin Convention</p>
                        
                        </div>
                    </div>
                    
                    
                    
                </div>
                   
                   
            </div>
            </div>
        </div>
        
        <div class="mbr-cards-col col-xs-12 col-lg-4" id="desccards">
            <div class="container">
               <div class="row">
               <div class="col-xs-3">
                   <i class="fa fa-wifi fa-2x"></i>
               </div>
                    <div class="col-xs-9">
                    <div class="card cart-block">
                    
                        <div class="card-block">
                       
                            <p class="card-text" style="text-align:left !important;">Free Tickets for ITB Berlin and ITB Berlin Convention</p>
                        
                        </div>
                    </div>
                    
                    
                    
                    </div>
                   
                   
                </div>
            </div>
        </div>
        
        
        
        
    </div>
</section>

 <!--NEW***-->

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features4-4u" style="background-color: #f5f5f5;">

    

    <div class="mbr-cards-row row" style="padding-left:10%; padding-right:10%;">
       
    <!--   <div class="mbr-cards-col hidden-xs col-lg-1">
           <i class="fa fa-ticket fa-4x"></i>
       </div> -->
       
       
       
        <div class="mbr-cards-col col-xs-12 col-lg-4" id="desccards">
            <div class="container">
               <div class="row">
               <div class="col-xs-3">
                   <i class="fa fa-car fa-2x"></i>
               </div>
                <div class="col-xs-9">
                    <div class="card cart-block">
                    
                        <div class="card-block">
                       
                            <p class="card-text" style="text-align:left !important;">Free Tickets for ITB Berlin and ITB Berlin Convention</p>
                        
                        </div>
                    </div>
                    
                    
                    
                </div>
                   
                   
            </div>
            </div>
        </div>
        
        
        
        <div class="mbr-cards-col col-xs-12 col-lg-4" id="desccards">
            <div class="container">
               <div class="row">
               <div class="col-xs-3">
                   <i class="fa fa-clipboard fa-2x"></i>
               </div>
                <div class="col-xs-9">
                    <div class="card cart-block">
                    
                        <div class="card-block">
                       
                            <p class="card-text" style="text-align:left !important;">Free Tickets for ITB Berlin and ITB Berlin Convention</p>
                        
                        </div>
                    </div>
                    
                    
                    
                </div>
                   
                   
            </div>
            </div>
        </div>
        
        <div class="mbr-cards-col col-xs-12 col-lg-4" id="desccards">
            <div class="container">
               <div class="row">
               <div class="col-xs-3">
                   <i class="fa fa-coffee fa-2x"></i>
               </div>
                    <div class="col-xs-9">
                    <div class="card cart-block">
                    
                        <div class="card-block">
                       
                            <p class="card-text" style="text-align:left !important;">Free Tickets for ITB Berlin and ITB Berlin Convention</p>
                        
                        </div>
                    </div>
                    
                    
                    
                    </div>
                   
                   
                </div>
            </div>
        </div>
        
        
        
        
    </div>
</section>


<section class="mbr-section article mbr-section__container" id="content1-4v" style="background-color: #ffffff; padding-top: 40px; padding-bottom: 40px; text-align:center;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead"><h3>HOSTED BUYER'S STATS</h3></div>
        </div>
    </div>

</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features4-4u" style="background-color: #fff;">
    
    <div class="mbr-cards-row row" style="padding-left:10%; padding-right:10%;">
        
        <div class="mbr-cards-col col-xs-12 col-md-4" id="desccards">
            
            <div class="container-fluid" style="text-align:center;">
                <img src="assets/images/7.-chartjs.jpg" alt="" class="img-responsive" width="200px">
            </div>
           
           <div class="stattext container-fluid">
                Lorem ipsum dolor set amet. Lorem ipsum dolor set amet
                Lorem ipsum dolor set amet Lorem ipsum dolor set amet
                Lorem ipsum dolor set amet Lorem ipsum dolor set amet
                
            </div>
           
        </div>
        
        
        
    
        <div class="mbr-cards-col col-xs-12 col-md-4" id="desccards">
            
            <div class="container-fluid" style="text-align:center;">
                <img src="assets/images/7.-chartjs.jpg" alt="" class="img-responsive" width="200px">
            </div>
            <div class="stattext container-fluid">
                Lorem ipsum dolor set amet. Lorem ipsum dolor set amet
                Lorem ipsum dolor set amet Lorem ipsum dolor set amet
                Lorem ipsum dolor set amet Lorem ipsum dolor set amet
                
            </div>
            
            
        </div>
        
       
        <div class="mbr-cards-col col-xs-12 col-md-4" id="desccards">
            
            <div class="container-fluid" style="text-align:center;">
                <img src="assets/images/7.-chartjs.jpg" alt="" class="img-responsive" width="200px">
            </div>
            <div class="stattext container-fluid">
                Lorem ipsum dolor set amet. Lorem ipsum dolor set amet
                Lorem ipsum dolor set amet Lorem ipsum dolor set amet
                Lorem ipsum dolor set amet Lorem ipsum dolor set amet
                
            </div>
            
        </div>
        
        
        
    </div>
    
    
</section>









{% endblock %}