{% extends "base.html" %}
                                
{% block content %}

<section class="engine"><a rel="external" href="#"></a></section>

<section class="mbr-slider mbr-section mbr-section__container carousel slide mbr-section-nopadding mbr-after-navbar" data-ride="carousel" data-keyboard="false" data-wrap="true" data-pause="false" data-interval="false" id="slider-3w">
    <div>
        <div>
            <div>
                
                <div class="carousel-inner" role="listbox">
                    <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full active" data-bg-video-slide="https://www.youtube.com/watch?v=2rA1RvxuS7E">
                        <div class="mbr-table-cell">
                            <div class="mbr-overlay" style="opacity: 0.6; background-color: #000000;"></div>
                            <div class="container-slide container">
                                
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 text-xs-center" id="headtext">
                                        <h2 class="mbr-section-title display-1">OTM 2018</h2>
                                        <p class="mbr-section-lead lead">Book early to get the best location and price for your stand</p>

                                        <div class="mbr-section-btn"><a class="btn btn-lg btn-primary" href="ExhibitingatOTM.html">ENQUIRE NOW</a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                       
                       
                       <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full" data-bg-video-slide="false" style="background-image: url(assets/images/techforumotm-2-min-1469613516-2000x1150.jpg);">
                        <div class="mbr-table-cell">
                            <div class="mbr-overlay" style="opacity: 0.8; background-color: #000;"></div>
                            <div class="container-slide container">
                                
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 text-xs-center" id="headtext">
                                        <h2 class="mbr-section-title display-1">OTM 2018</h2>
                                        <p class="mbr-section-lead lead">OTM is India’s biggest travel trade show. It is organised every year in the largest travel market in India – Mumbai.</p>

                                        <div class="mbr-section-btn"><a class="btn btn-lg btn-primary" href="ExhibitorEnquiry.html">REGISTER TO BE AN EXHIBITOR</a> <a class="btn btn-lg btn-info" href="visitOTM.html">APPLY TO BE A HOSTED BUYER</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#slider-3w">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#slider-3w">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section mbr-parallax-background" id="header6-3y" style="background-image: url(assets/images/room-laptop.jpg); padding-top:10px;">

    <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(250, 175, 64);">
    </div>

    <div class="mbr-table mbr-table-full" style="padding-top: -30px; padding-bottom:30px;">
        <div class="mbr-table-cell">

            <div class="container" style="">
                <div class="mbr-section row" style="padding-top:30px; !important;">
                    <div class="mbr-table-md-up">
                        
                        <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 62%;">
                            <div class="mbr-figure"><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/2rA1RvxuS7E?rel=0&amp;amp;showinfo=0&amp;playlist=2rA1RvxuS7E" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
                        </div>
                        <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">

                            <h3 class="mbr-section-title display-2">&nbsp;Why OTM&nbsp;</h3>

                            <div class="mbr-section-text">
                                <p>OTM provides you the most effective reach to the most lucrative travel markets of India.<br><br>• 20.38 million Indian outbound travelers in 2015, likely to grow to 50 mn in 2020.<br>• International tourism expenditure by Indians likely to grow to US$ 28 bn in 2020.<br>• 850 mn domestic tourists, many with potential to travel abroad.<br></p>
                            </div>

                            <div class="mbr-section-btn"><a class="btn btn-lg btn-black-outline btn-black" href="About.html">MORE</a></div>

                        </div>

                        
                        

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="mbr-section" style="background-color: #242424; padding-top: 40px; padding-bottom:40px">
    
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-xs-center">
                        <h3 class="mbr-section-title display-2" style="color: white;">TESTIMONIALS</h3>
                        
                    </div>
                </div>
            </div>
        </div>
    
    
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators" style="bottom: -50px;">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" id="testcaro" role="listbox">
    <div class="carousel-item active">
      
      <div class="container">
            <div class="row">

                <div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card mbr-testimonial-lg" >
                        <div class="card-block"><p>“its really very amazing app that makes me finish html page in 3 minutes ( that's usually takes more than 1 hours at least from me if i did it from scratch). i hope to have very big library and plugins for this APP thanks again for your nice application”</p></div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="assets/images/face3.jpg" class="img-circle"></div>
                            <div class="mbr-author-name" style="color: white;">Abanoub S.</div>
                            <small class="mbr-author-desc">User</small>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card mbr-testimonial-lg" >
                        <div class="card-block"><p>“First of all hands off to you guys for your effort and nice, super tool. Good work mobirise team. We are expecting the new version soon with advance functionality with full bootstrap design. Great effort and super UI experience with easy drag &amp; drop with no time design bootstrap builder in present web design world.”</p></div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="assets/images/face1.jpg" class="img-circle"></div>
                            <div class="mbr-author-name" style="color: white;">Suffian A.</div>
                            <small class="mbr-author-desc">User</small>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card mbr-testimonial-lg" >
                        <div class="card-block"><p>“At first view, looks like a nice innovative tool, i like the great focus and time that was given to the responsive design, i also like the simple and clear drag and drop features. Give me more control over the object's properties and ill be using this tool for more serious projects. Regards.”</p></div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="assets/images/face2.jpg" class="img-circle"></div>
                            <div class="mbr-author-name" style="color: white;">Jhollman C.</div>
                            <small class="mbr-author-desc">User</small>
                        </div>
                    </div>
                </div>

            </div>

        </div>
          
      
    </div>
    <div class="carousel-item">
      
      <div class="container">
            <div class="row">

                <div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block"><p>“its really very amazing app that makes me finish html page in 3 minutes ( that's usually takes more than 1 hours at least from me if i did it from scratch). i hope to have very big library and plugins for this APP thanks again for your nice application”</p></div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="assets/images/face3.jpg" class="img-circle"></div>
                            <div class="mbr-author-name" style="color: white;">Abanoub S.</div>
                            <small class="mbr-author-desc">User</small>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block"><p>“First of all hands off to you guys for your effort and nice, super tool. Good work mobirise team. We are expecting the new version soon with advance functionality with full bootstrap design. Great effort and super UI experience with easy drag &amp; drop with no time design bootstrap builder in present web design world.”</p></div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="assets/images/face1.jpg" class="img-circle"></div>
                            <div class="mbr-author-name" style="color: white;">Suffian A.</div>
                            <small class="mbr-author-desc">User</small>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block"><p>“At first view, looks like a nice innovative tool, i like the great focus and time that was given to the responsive design, i also like the simple and clear drag and drop features. Give me more control over the object's properties and ill be using this tool for more serious projects. Regards.”</p></div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="assets/images/face2.jpg" class="img-circle"></div>
                            <div class="mbr-author-name" style="color: white;">Jhollman C.</div>
                            <small class="mbr-author-desc">User</small>
                        </div>
                    </div>
                </div>

            </div>

        </div>
      
    </div>
    <div class="carousel-item">
      
      <div class="container">
            <div class="row">

                <div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block"><p>“its really very amazing app that makes me finish html page in 3 minutes ( that's usually takes more than 1 hours at least from me if i did it from scratch). i hope to have very big library and plugins for this APP thanks again for your nice application”</p></div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="assets/images/face3.jpg" class="img-circle"></div>
                            <div class="mbr-author-name" style="color: white;">Abanoub S.</div>
                            <small class="mbr-author-desc">User</small>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block"><p>“First of all hands off to you guys for your effort and nice, super tool. Good work mobirise team. We are expecting the new version soon with advance functionality with full bootstrap design. Great effort and super UI experience with easy drag &amp; drop with no time design bootstrap builder in present web design world.”</p></div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="assets/images/face1.jpg" class="img-circle"></div>
                            <div class="mbr-author-name" style="color: white;">Suffian A.</div>
                            <small class="mbr-author-desc">User</small>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block"><p>“At first view, looks like a nice innovative tool, i like the great focus and time that was given to the responsive design, i also like the simple and clear drag and drop features. Give me more control over the object's properties and ill be using this tool for more serious projects. Regards.”</p></div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="assets/images/face2.jpg" class="img-circle"></div>
                            <div class="mbr-author-name" style="color: white;">Jhollman C.</div>
                            <small class="mbr-author-desc">User</small>
                        </div>
                    </div>
                </div>

            </div>

        </div>
      
      
      
      
    </div>
  </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
      </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
  </a>
</div>
 </section>

 <section class="mbr-section mbr-section__container" id="buttons1-n" style="background-color:#242424; padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-xs-center"><a class="btn btn-primary" href="#/mobirise-free-win.zip">READ MORE</a> </div>
            </div>
        </div>
    </div>

</section>



<section class="mbr-section mbr-section__container article" id="header3-d" style="background-color: #f7f7f7; padding-top: 40px; padding-bottom: 40px;">
   
   
   
   
   
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="mbr-section-title display-2">SPONSORS AND PARTNERS</h3>
                
            </div>
        </div>
    </div>
    
    
    <div class="container" style="padding-top:40px; padding-bottom:40px; padding-left:10%; padding-right:10%;">
       <div class="row">
           <div class="col-sm-9">
                  <div class="container" style= "padding-right:2%; padding-left:2%;">
                  
                  
                  <div class="row">
                     <div class="container-fluid" style="padding-bottom:20px;">
                          <div class="text-xs-left" style="">Partner Countries</div>
                      </div>
                  </div>
                  
                   <div class="row" style="background:white; padding-bottom:20px;">
                       <div class="col-xs-4 container-fluid" style="">
                         <div class="mbr-figure" style="background-color: white;"><img src="{{url_for('static', filename='assets/images/media3.png')}}" alt=""></div>  
                       </div>
                       <div class="col-xs-4 container-fluid" style="">
                           <div class="mbr-figure" style="background-color: white;"><img src="{{url_for('static', filename='assets/images/media3.png"')}} alt=""></div>
                       </div>
                       <div class="col-xs-4 container-fluid" style="">
                           <div class="mbr-figure" style="background-color: white;"><img src="{{url_for('static', filename='assets/images/media3.png')}}" alt=""></div>
                       </div>
                   </div>
                   
                   
                   
                   
                   </div>
               </div>
               
               
               <div class="col-sm-3" style= "padding-right:2%; padding-left:2%;">
                  
                 <div class="row">
                      <div class="container-fluid" style="padding-bottom:20px;" >
                           <div class="text-xs-left" style="">Host States</div>
                        </div>
                 
                 </div>
                  
                   <div class="row">
                          <div class="col-xs-12 container-fluid" style="padding-bottom:20px;">
                           <div class="mbr-figure" style="background-color: white;"><img src="{{url_for('static', filename='assets/images/media3.png')}}" alt=""></div>
                           </div>
                   </div>
                   
               </div>
               
               
               
           </div>
           
           
           
       </div>
       
       
       
   
    
    
    
    
    
    
    <div class="container" style="padding-top:40px; padding-bottom:40px;">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="container" style="padding:0px;">
		
                    <ul class="nav nav-pills nav-stacked" id="stackedpills">

                        <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Premium Partners</a>
                        </li>

                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#partnerst" role="tab">Partner States</a>
                        </li>

                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#partnercn" role="tab">Partner Countries</a>
                        </li>

                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#featurec" role="tab">Feature Countries</a>
                        </li>
                        
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#featurest" role="tab">Feature States</a>
                        </li>
                        
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#hospitalityp" role="tab">Hospitality Partners</a>
                        </li>
                        

                    </ul>
                </div></div>
            <div class="col-md-9 col-sm-8 col-xs-12">
                   <div class="container" style="padding:0px;"> 
                    
                    <div class="tab-content">


                        <div class="tab-pane active" id="home" role="tabpanel">

                            <section class="mbr-section" id="msg-box5-53" style="background-color:#ffffff; padding-top: 0px; padding-bottom: 120px;">


                                <div class="container">
                                    <div class="row">
                                        <div class="mbr-table-md-up">

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="{{url_for('static', filename='assets/images/media3.png')}}" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="{{url_for('static', filename='assets/images/media2.png"')}} alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media1.png" alt=""></div>
                                          </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mbr-table-md-up">

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media3.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media2.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media1.png" alt=""></div>
                                          </div>

                                        </div>


                                    </div>





                                </div>

                            </section>

                        </div>


                        <div class="tab-pane fade" id="partnerst" role="tabpanel">

                            <section class="mbr-section" id="msg-box5-53" style="background-color:#ffffff; padding-top: 0px; padding-bottom: 120px;">


                                <div class="container">
                                    <div class="row">
                                        <div class="mbr-table-md-up">

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media3.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media2.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media3.png" alt=""></div>
                                          </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mbr-table-md-up">

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media1.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media2.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media3.png" alt=""></div>
                                          </div>

                                        </div>


                                    </div>





                                </div>

                            </section>

                        </div>


                        <div class="tab-pane fade" id="partnercn" role="tabpanel">

                            <section class="mbr-section" id="msg-box5-53" style="background-color:#ffffff; padding-top: 0px; padding-bottom: 120px;">


                                <div class="container">
                                    <div class="row">
                                        <div class="mbr-table-md-up">

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media3.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media2.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media1.png" alt=""></div>
                                          </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mbr-table-md-up">

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media1.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media2.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media3.png" alt=""></div>
                                          </div>

                                        </div>


                                    </div>





                                </div>

                            </section>

                        </div>

                        <div class="tab-pane fade" id="featurec" role="tabpanel">

                            <section class="mbr-section" id="msg-box5-53" style="background-color:#ffffff; padding-top: 0px; padding-bottom: 120px;">


                                <div class="container">
                                    <div class="row">
                                        <div class="mbr-table-md-up">

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media3.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media2.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media1.png" alt=""></div>
                                          </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mbr-table-md-up">

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media3.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media2.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media1.png" alt=""></div>
                                          </div>

                                        </div>


                                    </div>





                                </div>

                            </section>


                        </div>

                        <div class="tab-pane fade" id="featurest" role="tabpanel">

                            <section class="mbr-section" id="msg-box5-53" style="background-color:#ffffff; padding-top: 0px; padding-bottom: 120px;">


                                <div class="container">
                                    <div class="row">
                                        <div class="mbr-table-md-up">

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media1.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media2.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media3.png" alt=""></div>
                                          </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mbr-table-md-up">

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media1.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media2.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media1.png" alt=""></div>
                                          </div>

                                        </div>


                                    </div>





                                </div>

                            </section>


                        </div>

                        <div class="tab-pane fade" id="hospitalityp" role="tabpanel">

                            <section class="mbr-section" id="msg-box5-53" style="background-color:#ffffff; padding-top: 0px; padding-bottom: 120px;">


                                <div class="container">
                                    <div class="row">
                                        <div class="mbr-table-md-up">

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media3.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media2.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media3.png" alt=""></div>
                                          </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mbr-table-md-up">

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media1.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media1.png" alt=""></div>
                                          </div>

                                          <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-xs-4 image-size" style= "padding-top:5%;">
                                              <div class="mbr-figure"><img src="assets/images/media3.png" alt=""></div>
                                          </div>

                                        </div>


                                    </div>





                                </div>

                            </section>


                        </div>






                    </div> 
                </div>
            </div>
        </div>
                
    </div>
           
    <div class="container" style="padding-bottom:20px;">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-xs-center"><a class="btn btn-primary" href="MediaPartners.html">VIEW DETAILS</a> </div>
            </div>
        </div>
    </div>
            
            
            
            
        
    
    
    
    
    
    
</section>











{% endblock %}