{% extends "base.html" %}
                                
{% block content %}


<section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-5n" style="background-color: rgb(255, 255, 255);">

  
   <div class="container">
       
       <form action="#" method="post">
       
       <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-6" style="padding-top: 80px; padding-bottom: 80px; padding-right:30px; padding-left:30px;">
            <div class="container" style="padding: 20px; border: 1px solid #e0e0e0; border-radius: 30px;">
              <div class="card cart-block">
                  <div class="card-img"><img src="assets/images/placeholder550.png" class="card-img-top"></div>
                  <div class="card-block">
                    <h4 class="card-title">VIP Business Loungue</h4>
                    
                    <p class="card-text">A top of the line business lounge will be created wherein exhibitors will be discussing important deals with key decision makers. Your logo will be displayed at various prominent locations in the business lounge. Apart from this, you can place your literature in the business lounge. </p>
                    <div class="card-btn">
                    
                        <div class="form-group">
                            <input type="checkbox" data-toggle="toggle" data-on="Rs.3,00,000* / USD 5000*" data-off="Interested?" data-size="mini">
                        </div>
                                     
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="mbr-cards-col col-xs-12 col-lg-6" style="padding-top: 80px; padding-bottom: 80px; padding-right:30px; padding-left:30px;">
            <div class="container" style="padding: 20px; border: 1px solid #e0e0e0; border-radius: 30px;">
              <div class="card cart-block">
                  <div class="card-img"><img src="assets/images/placeholder550.png" class="card-img-top"></div>
                  <div class="card-block">
                    <h4 class="card-title">Media Lounge</h4>
                    
                    <p class="card-text">A fully equipped media lounge will be made functional for the perusal of the exhibitors and press / media. Your logo will be displayed at various prominent locations in the internet cafe. Apart from this, you can place your literature in the media lounge. </p>
                    <div class="card-btn">
                        <div class="form-group">
                            <input type="checkbox" data-toggle="toggle" data-on="Rs.1,00,000* / USD 1700*" data-off="Interested?" data-size="mini">
                        </div>
                    <!--<a href="https://mobirise.com" class="btn btn-primary btn-block">
                    </a>-->
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </div>
    
        <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-6" style="padding-top: 80px; padding-bottom: 80px; padding-right:30px; padding-left:30px;">
            <div class="container" style="padding: 20px; border: 1px solid #e0e0e0; border-radius: 30px;">
              <div class="card cart-block">
                  <div class="card-img"><img src="assets/images/placeholder550.png" class="card-img-top"></div>
                  <div class="card-block">
                    <h4 class="card-title">Destination Feature / Write-up In Exhibition Directory
                    </h4>
                    
                    <p class="card-text">The exhibition directory is one of the most sought after reference guide. Exhibition directory is used by travel decision makers from time to time and remains as a reference book in their library. A destination feature or write-up is a unique way of attracting the attention of these decision makers and acts as an additional medium of marketing your destination / package. </p>
                    <div class="card-btn">
                    
                        <div class="form-group">
                            <input type="checkbox" data-toggle="toggle" data-on="Rs.3,00,000* / USD 5000*" data-off="Interested?" data-size="mini">
                        </div>
                                     
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="mbr-cards-col col-xs-12 col-lg-6" style="padding-top: 80px; padding-bottom: 80px; padding-right:30px; padding-left:30px;">
            <div class="container" style="padding: 20px; border: 1px solid #e0e0e0; border-radius: 30px;">
              <div class="card cart-block">
                  <div class="card-img"><img src="assets/images/placeholder550.png" class="card-img-top"></div>
                  <div class="card-block">
                    <h4 class="card-title">Advertisement / Write-up in Exhibition Newsletter
                    </h4>
                    
                    <p class="card-text">Exhibition newsletter is the most widely distributed communication. The newsletter is released during the exhibition and it contains a detailed report on the inauguration, conference / presentation / roadshow schedule, etc. An advertisement / write-up in the newsletter creates a buzz and attracts attention of the participants, trade visitors and general visitors. </p>
                    <div class="card-btn">
                        <div class="form-group">
                            <input type="checkbox" data-toggle="toggle" data-on="Rs.1,00,000* / USD 1700*" data-off="Interested?" data-size="mini">
                        </div>
                    <!--<a href="https://mobirise.com" class="btn btn-primary btn-block">
                    </a>-->
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </div>
       
       
       <div class="container-fluid" style="padding-top:40px; padding-bottom:40px; text-align:center;">
       
       <button type="submit" class="btn btn-primary">Contact/Send</button>    
      
        </div>
       
       
       
       
       
   </form> 
   
   
   
   </div>
    
   
    
</section>

<hr>


<section class="mbr-section article mbr-section__container" id="content6-1g" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 lead">
            <h4 class="lead">
                Sponsorship Packages
            </h4>    
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <br>
                <div>
                <button class="btn btn-sm btn-black">View Options</button>
                </div>
            
            
            
            
            </div>
            
            <div class="col-xs-12 col-md-4 lead">
            <h4 class="lead">
            
                Advertising Materials
            </h4>    
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                
                <div>
                <button class="btn btn-sm btn-black">View Options</button>
                </div>
            
            
            
            
            </div>
            
            <div class="col-xs-12 col-md-4 lead">
            <h4 class="lead">
            
                Digital and print Advertising
            </h4>    
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                
                <div>
                <button class="btn btn-sm btn-black">View Options</button>
                </div>
            
            
            
            
            </div>
            
        </div>
    </div>

</section>









{% endblock %}