{% extends "base.html" %}
                                
{% block content %}


<section class="engine"><a rel="external" href=""></a></section>
    
<section class="mbr-section article mbr-parallax-background mbr-after-navbar" id="msg-box8-4c" style="background-image: url(assets/images/press.jpg); padding-top: 200px; padding-bottom: 160px;">

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">PRESS SERVICES</h3>
                
                
            </div>
        </div>
    </div>

</section>

<section class="mbr-section article mbr-section__container" id="content1-54" style="background-color: rgb(255, 255, 255); padding-top: 40px; padding-bottom: 0px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead"><h3>Welcome to the Online Media Centre of OTM</h3></div>
        </div>
    </div>

</section>

<section class="mbr-section" id="msg-box6-52" style="background-color: rgb(255, 255, 255)!important; padding-top: 0px; padding-bottom: 0px;">

    
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">

              

              


              <div class="mbr-table-cell col-md-12 text-xs-center text-md-left content-size">
                  
                  <div class="lead">

                    <p>OTM is the most effective platform to market to the Indian travel industry catering to over 20 million Outbound travelers spending over US$ 10 billion and growing over 10% per year. It is also your window to domestic tourists who undertake over a billion trips annually– at least 10% of them with an immediate potential to also travel abroad.<br><br>The Promotion Package offers you a basic package containing marketing services automatically included in your stand registration.<br><em><strong><br></strong></em><br><br><br></p>

                  </div>

                  
              </div>


              

            </div>
        </div>
    </div>

</section>


<section class="mbr-cards mbr-section mbr-section-nopadding" id="features4-4u" style="background-color: #fff; padding-top: 20px; padding-bottom: 20px; padding-right:10%; padding-left:10%">

	<div class="card-group">
	  <div class="card">
	   <h4 class="card-title" style="padding :20px; background: antiquewhite;">Media Kit</h4>
	    <a href="#"><img class="card-img-bottom" src="assets/images/plc1.png" alt="Card image cap" style="max-width:150px"></a>
	    <div class="card-block">
	    
	    </div>
	  </div>
	  <div class="card">
	   <h4 class="card-title" style="padding:20px; background:darkorange; color:white;">Image-Library</h4>
	    <a href=""><img class="card-img-bottom" src="assets/images/imglibrary.png" alt="Card image cap" style="max-width:150px">
	    </a>
	    <div class="card-block">
	    
	    </div>
	  </div>
	<div class="card">
	   <h4 class="card-title" style="padding :20px; background: antiquewhite;">Press Releases</h4>
	    <a href=""><img class="card-img-bottom" src="assets/images/pressRel.png" alt="Card image cap" style="max-width:150px"></a>
	    <div class="card-block">
	    
	    </div>
	  </div>
	  
	</div>






</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features4-4u" style="background-color: #fff; padding-top: 20px; padding-bottom: 60px; padding-right:10%; padding-left:10%;">

	<div class="card-group">
	  <div class="card">
	   <h4 class="card-title" style="padding :20px; background: darkorange; color:white;">Media Partners</h4>
	      <a href=""><img class="card-img-bottom" src="assets/images/medPar.png" alt="Card image cap" style="max-width:150px"></a>
	    <div class="card-block">
	    
	    </div>
	  </div>
	  <div class="card">
	   <h4 class="card-title" style="padding :20px; background: antiquewhite;">Register as Travel Media</h4>
	    <a href=""><img class="card-img-bottom" src="assets/images/travelMed.png" alt="Card image cap" style="max-width:150px">
	    </a>
	    <div class="card-block">
	    
	    </div>
	  </div>
	<div class="card">
	   <h4 class="card-title" style="padding :20px; background: darkorange; color:white;">Register as Travel Blogger</h4>
	    <a href=""><img class="card-img-bottom" src="assets/images/travelblogger.png" alt="Card image cap" style="max-width:150px">
	    </a>
	    <div class="card-block">
	    
	    </div>
	  </div>
	  
	</div>






</section>



{% endblock %}