{% extends "base.html" %}
                                
{% block content %}









<section class="engine"><a rel="external" href="#"></a></section>
<section class="mbr-section article mbr-parallax-background mbr-after-navbar" id="msg-box8-4c" style="background-image: url(assets/images/desert.jpg); padding-top: 200px; padding-bottom: 80px;">

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">PRESS RELEASES</h3>
                
                
            </div>
        </div>
    </div>

</section>
       
<section class="mbr-section article mbr-section__container" style="padding-right:15%; padding-left:15%;">        
        
        
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Current</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#i2016" role="tab">OTM 2016</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#i2015" role="tab">OTM 2015</a>
  </li>
  
</ul>

<!-- Tab panes -->
<div class="tab-content">
 
        
<div class="tab-pane active" id="home" role="tabpanel">
    
    <section class="mbr-section" id="msg-box5-52" style="background-color: rgb(255, 255, 255); padding-top: 0px; padding-bottom: 120px;">


        <div class="container">
            <div class="row">
                <div class="mbr-table-md-up">

                  <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-sm-5 image-size" style="width: 30%; padding-top:5%;">
                      <div class="mbr-figure"><img src="assets/images/event-section-home-600x360.png" alt=""></div>
                  </div>




                  <div class="mbr-table-cell col-sm-7 text-xs-center text-md-left content-size">

                      <div class="lead">

                        <p><br><br>
                        <em><strong><p>dd/mm/yy</p>
                        <a href="#">ITB Berlin 2017: Positive economic forecasts give the global travel industry a boost</a>
                            <p style="padding-bottom:2%;">Lust for travel and profound safety concerns – Personal encounters vs. the digital world – ITB Berlin underlines its standing as the World’s Leading Travel Trade Show ® – Record numbers at the ITB Berlin Convention and increase in internatio ...</p></strong></em></p>

                      </div>


                  </div>




                </div>
            </div>
            <div class="row">
                <div class="mbr-table-md-up">

                  <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-sm-5 image-size" style="width: 30%; padding-top:5%;">
                      <div class="mbr-figure"><img src="assets/images/event-section-home-600x360.png" alt=""></div>
                  </div>




                  <div class="mbr-table-cell col-sm-7 text-xs-center text-md-left content-size">

                      <div class="lead">

                        <p><br><br>
                        <em><strong><p>dd/mm/yy</p>
                        <a href="#">ITB Berlin 2017: Positive economic forecasts give the global travel industry a boost</a>
                            <p style="padding-bottom:2%;">Lust for travel and profound safety concerns – Personal encounters vs. the digital world – ITB Berlin underlines its standing as the World’s Leading Travel Trade Show ® – Record numbers at the ITB Berlin Convention and increase in internatio ...</p></strong></em></p>

                      </div>


                  </div>




                </div>
            </div>
            <div class="row">
                <div class="mbr-table-md-up">

                  <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-sm-5 image-size" style="width: 30%; padding-top:5%;">
                      <div class="mbr-figure"><img src="assets/images/event-section-home-600x360.png" alt=""></div>
                  </div>




                  <div class="mbr-table-cell col-sm-7 text-xs-center text-md-left content-size">

                      <div class="lead">

                        <p><br><br>
                        <em><strong><p>dd/mm/yy</p>
                        <a href="#">ITB Berlin 2017: Positive economic forecasts give the global travel industry a boost</a>
                            <p style="padding-bottom:2%;">Lust for travel and profound safety concerns – Personal encounters vs. the digital world – ITB Berlin underlines its standing as the World’s Leading Travel Trade Show ® – Record numbers at the ITB Berlin Convention and increase in internatio ...</p></strong></em></p>

                      </div>


                  </div>




                </div>
            </div>
            <div class="row">
                <div class="mbr-table-md-up">

                  <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-sm-5 image-size" style="width: 30%; padding-top:5%;">
                      <div class="mbr-figure"><img src="assets/images/event-section-home-600x360.png" alt=""></div>
                  </div>




                  <div class="mbr-table-cell col-sm-7 text-xs-center text-md-left content-size">

                      <div class="lead">

                        <p><br><br>
                        <em><strong><p>dd/mm/yy</p>
                        <a href="#">ITB Berlin 2017: Positive economic forecasts give the global travel industry a boost</a>
                            <p style="padding-bottom:2%;">Lust for travel and profound safety concerns – Personal encounters vs. the digital world – ITB Berlin underlines its standing as the World’s Leading Travel Trade Show ® – Record numbers at the ITB Berlin Convention and increase in internatio ...</p></strong></em></p>

                      </div>


                  </div>




                </div>
            </div>
            <div class="row">
                <div class="mbr-table-md-up">

                  <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-sm-5 image-size" style="width: 30%; padding-top:5%;">
                      <div class="mbr-figure"><img src="assets/images/event-section-home-600x360.png" alt=""></div>
                  </div>




                  <div class="mbr-table-cell col-sm-7 text-xs-center text-md-left content-size">

                      <div class="lead">

                        <p><br><br>
                        <em><strong><p>dd/mm/yy</p>
                        <a href="#">ITB Berlin 2017: Positive economic forecasts give the global travel industry a boost</a>
                            <p style="padding-bottom:2%;">Lust for travel and profound safety concerns – Personal encounters vs. the digital world – ITB Berlin underlines its standing as the World’s Leading Travel Trade Show ® – Record numbers at the ITB Berlin Convention and increase in internatio ...</p></strong></em></p>

                      </div>


                  </div>




                </div>
            </div>
            
            
            
            
        </div>

    </section>

</div>


<div class="tab-pane fade" id="i2016" role="tabpanel">
    
    <section class="mbr-section" id="msg-box5-52" style="background-color: rgb(255, 255, 255); padding-top: 0px; padding-bottom: 120px;">


        <div class="container">
            <div class="row">
                <div class="mbr-table-md-up">

                  <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-sm-5 image-size" style="width: 30%; padding-top:5%;">
                      <div class="mbr-figure"><img src="assets/images/event-section-home-600x360.png" alt=""></div>
                  </div>




                  <div class="mbr-table-cell col-sm-7 text-xs-center text-md-left content-size">

                      <div class="lead">

                        <p><br><br>
                        <em><strong><p>dd/mm/yy</p>
                        <a href="#">ITB Berlin 2017: Positive economic forecasts give the global travel industry a boost</a>
                            <p style="padding-bottom:2%;">Lust for travel and profound safety concerns – Personal encounters vs. the digital world – ITB Berlin underlines its standing as the World’s Leading Travel Trade Show ® – Record numbers at the ITB Berlin Convention and increase in internatio ...</p></strong></em></p>

                      </div>


                  </div>




                </div>
            </div>
            <div class="row">
                <div class="mbr-table-md-up">

                  <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-sm-5 image-size" style="width: 30%; padding-top:5%;">
                      <div class="mbr-figure"><img src="assets/images/event-section-home-600x360.png" alt=""></div>
                  </div>




                  <div class="mbr-table-cell col-sm-7 text-xs-center text-md-left content-size">

                      <div class="lead">

                        <p><br><br>
                        <em><strong><p>dd/mm/yy</p>
                        <a href="#">ITB Berlin 2017: Positive economic forecasts give the global travel industry a boost</a>
                            <p style="padding-bottom:2%;">Lust for travel and profound safety concerns – Personal encounters vs. the digital world – ITB Berlin underlines its standing as the World’s Leading Travel Trade Show ® – Record numbers at the ITB Berlin Convention and increase in internatio ...</p></strong></em></p>

                      </div>


                  </div>




                </div>
            </div>
            <div class="row">
                <div class="mbr-table-md-up">

                  <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-sm-5 image-size" style="width: 30%; padding-top:5%;">
                      <div class="mbr-figure"><img src="assets/images/event-section-home-600x360.png" alt=""></div>
                  </div>




                  <div class="mbr-table-cell col-sm-7 text-xs-center text-md-left content-size">

                      <div class="lead">

                        <p><br><br>
                        <em><strong><p>dd/mm/yy</p>
                        <a href="#">ITB Berlin 2017: Positive economic forecasts give the global travel industry a boost</a>
                            <p style="padding-bottom:2%;">Lust for travel and profound safety concerns – Personal encounters vs. the digital world – ITB Berlin underlines its standing as the World’s Leading Travel Trade Show ® – Record numbers at the ITB Berlin Convention and increase in internatio ...</p></strong></em></p>

                      </div>


                  </div>




                </div>
            </div>
            <div class="row">
                <div class="mbr-table-md-up">

                  <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-sm-5 image-size" style="width: 30%; padding-top:5%;">
                      <div class="mbr-figure"><img src="assets/images/event-section-home-600x360.png" alt=""></div>
                  </div>




                  <div class="mbr-table-cell col-sm-7 text-xs-center text-md-left content-size">

                      <div class="lead">

                        <p><br><br>
                        <em><strong><p>dd/mm/yy</p>
                        <a href="#">ITB Berlin 2017: Positive economic forecasts give the global travel industry a boost</a>
                            <p style="padding-bottom:2%;">Lust for travel and profound safety concerns – Personal encounters vs. the digital world – ITB Berlin underlines its standing as the World’s Leading Travel Trade Show ® – Record numbers at the ITB Berlin Convention and increase in internatio ...</p></strong></em></p>

                      </div>


                  </div>




                </div>
            </div>
            <div class="row">
                <div class="mbr-table-md-up">

                  <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-sm-5 image-size" style="width: 30%; padding-top:5%;">
                      <div class="mbr-figure"><img src="assets/images/event-section-home-600x360.png" alt=""></div>
                  </div>




                  <div class="mbr-table-cell col-sm-7 text-xs-center text-md-left content-size">

                      <div class="lead">

                        <p><br><br>
                        <em><strong><p>dd/mm/yy</p>
                        <a href="#">ITB Berlin 2017: Positive economic forecasts give the global travel industry a boost</a>
                            <p style="padding-bottom:2%;">Lust for travel and profound safety concerns – Personal encounters vs. the digital world – ITB Berlin underlines its standing as the World’s Leading Travel Trade Show ® – Record numbers at the ITB Berlin Convention and increase in internatio ...</p></strong></em></p>

                      </div>


                  </div>




                </div>
            </div>
            
            
            
            
        </div>

    </section>

</div>


<div class="tab-pane fade" id="i2015" role="tabpanel">

    <section class="mbr-section" id="msg-box5-52" style="background-color: rgb(255, 255, 255); padding-top: 0px; padding-bottom: 120px;">


        <div class="container">
            <div class="row">
                <div class="mbr-table-md-up">

                  <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-sm-5 image-size" style="width: 30%; padding-top:5%;">
                      <div class="mbr-figure"><img src="assets/images/event-section-home-600x360.png" alt=""></div>
                  </div>




                  <div class="mbr-table-cell col-sm-7 text-xs-center text-md-left content-size">

                      <div class="lead">

                        <p><br><br>
                        <em><strong><p>dd/mm/yy</p>
                        <a href="#">ITB Berlin 2017: Positive economic forecasts give the global travel industry a boost</a>
                            <p style="padding-bottom:2%;">Lust for travel and profound safety concerns – Personal encounters vs. the digital world – ITB Berlin underlines its standing as the World’s Leading Travel Trade Show ® – Record numbers at the ITB Berlin Convention and increase in internatio ...</p></strong></em></p>

                      </div>


                  </div>




                </div>
            </div>
            <div class="row">
                <div class="mbr-table-md-up">

                  <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-sm-5 image-size" style="width: 30%; padding-top:5%;">
                      <div class="mbr-figure"><img src="assets/images/event-section-home-600x360.png" alt=""></div>
                  </div>




                  <div class="mbr-table-cell col-sm-7 text-xs-center text-md-left content-size">

                      <div class="lead">

                        <p><br><br>
                        <em><strong><p>dd/mm/yy</p>
                        <a href="#">ITB Berlin 2017: Positive economic forecasts give the global travel industry a boost</a>
                            <p style="padding-bottom:2%;">Lust for travel and profound safety concerns – Personal encounters vs. the digital world – ITB Berlin underlines its standing as the World’s Leading Travel Trade Show ® – Record numbers at the ITB Berlin Convention and increase in internatio ...</p></strong></em></p>

                      </div>


                  </div>




                </div>
            </div>
            <div class="row">
                <div class="mbr-table-md-up">

                  <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-sm-5 image-size" style="width: 30%; padding-top:5%;">
                      <div class="mbr-figure"><img src="assets/images/event-section-home-600x360.png" alt=""></div>
                  </div>




                  <div class="mbr-table-cell col-sm-7 text-xs-center text-md-left content-size">

                      <div class="lead">

                        <p><br><br>
                        <em><strong><p>dd/mm/yy</p>
                        <a href="#">ITB Berlin 2017: Positive economic forecasts give the global travel industry a boost</a>
                            <p style="padding-bottom:2%;">Lust for travel and profound safety concerns – Personal encounters vs. the digital world – ITB Berlin underlines its standing as the World’s Leading Travel Trade Show ® – Record numbers at the ITB Berlin Convention and increase in internatio ...</p></strong></em></p>

                      </div>


                  </div>




                </div>
            </div>
            <div class="row">
                <div class="mbr-table-md-up">

                  <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-sm-5 image-size" style="width: 30%; padding-top:5%;">
                      <div class="mbr-figure"><img src="assets/images/event-section-home-600x360.png" alt=""></div>
                  </div>




                  <div class="mbr-table-cell col-sm-7 text-xs-center text-md-left content-size">

                      <div class="lead">

                        <p><br><br>
                        <em><strong><p>dd/mm/yy</p>
                        <a href="#">ITB Berlin 2017: Positive economic forecasts give the global travel industry a boost</a>
                            <p style="padding-bottom:2%;">Lust for travel and profound safety concerns – Personal encounters vs. the digital world – ITB Berlin underlines its standing as the World’s Leading Travel Trade Show ® – Record numbers at the ITB Berlin Convention and increase in internatio ...</p></strong></em></p>

                      </div>


                  </div>




                </div>
            </div>
            <div class="row">
                <div class="mbr-table-md-up">

                  <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-sm-5 image-size" style="width: 30%; padding-top:5%;">
                      <div class="mbr-figure"><img src="assets/images/event-section-home-600x360.png" alt=""></div>
                  </div>




                  <div class="mbr-table-cell col-sm-7 text-xs-center text-md-left content-size">

                      <div class="lead">

                        <p><br><br>
                        <em><strong><p>dd/mm/yy</p>
                        <a href="#">ITB Berlin 2017: Positive economic forecasts give the global travel industry a boost</a>
                            <p style="padding-bottom:2%;">Lust for travel and profound safety concerns – Personal encounters vs. the digital world – ITB Berlin underlines its standing as the World’s Leading Travel Trade Show ® – Record numbers at the ITB Berlin Convention and increase in internatio ...</p></strong></em></p>

                      </div>


                  </div>




                </div>
            </div>
            
            
            
            
        </div>

    </section>

</div>

</div> 

</section>



{% endblock %}