{% extends "base.html" %}
                                
{% block content %}


<section class="engine"><a rel="external" href="#">#/</a></section>
<section class="mbr-section article mbr-parallax-background mbr-after-navbar" id="msg-box8-1a" style="background-image: url(assets/images/desert.jpg); padding-top: 200px; padding-bottom: 120px;">

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">SPONSORSHIP PACKAGES</h3>
                
                
            </div>
        </div>
    </div>

</section>

<section class="mbr-section" id="msg-box5-5m" style="background-color: rgb(255, 255, 255); padding-top: 80px; padding-bottom: 80px;">

    <div class="container">
        <form action="#" method="post">
            
            <div class="container">
            <div class="row">
            <div class="mbr-table-md-up">

              <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 37%;">
                  <div class="mbr-figure"><img src="assets/images/placeholder550.png"></div>
              </div>

              


              <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">
                  <h3 class="mbr-section-title display-2" style="font-size:22px;">Exclusive Premium/Partner Country</h3>
                  <div class="lead">

                    <p>Exclusive or Premium Partner status is reserved for the topmost participant in the show. It includes prime branding in all advertising and publicity of the show. The package includes 150 sq m of prime exhibit space in the 1st aisle near the entrance of the show. Additional space can be hired on preferential rates.<br></p>

                  </div>
                  
                  <div class="container-fluid">
                        <div class="row">
                         <div class="col-xs-12 col-sm-4">Price</div>
                         <div class="col-xs-12 col-sm-4">Rs. 45,00,000* / USD 70,000</div>
                         
                        <div class="form-group">
                             <div class="col-xs-12 col-sm-4">
                                 <input type="checkbox" data-toggle="toggle" data-on="GET" data-off="SKIP" data-size="mini">
                             </div>
                         </div>
                          
                        </div>
                      </div>

                  
              </div>


              

            </div>
        </div>
    </div>
    
    <div class="container" style="padding-top:20px; padding-bottom">
        <div class="row">
            <div class="mbr-table-md-up">

              <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 37%;">
                  <div class="mbr-figure"><img src="assets/images/placeholder550.png"></div>
              </div>

              


              <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">
                  <h3 class="mbr-section-title display-2" style="font-size:22px;">Partner Countries/ States</h3>
                  <div class="lead">

                    <p>Partner status is available for up to 4 participants. It includes prime branding position in all advertising and publicity of the show, next only to the Exclusive / Premium Partner. The package includes 100 sq m of prime exhibit space at the show. Additional space can be hired on preferential rates<br></p>

                  </div>
                  
                  <div class="container-fluid">
                        <div class="row">
                         <div class="col-xs-12 col-sm-4">Price</div>
                         <div class="col-xs-12 col-sm-4">Rs. 45,00,000* / USD 70,000</div>
                         
                         <div class="form-group">
                         <div class="col-xs-12 col-sm-4">
                         <input type="checkbox" data-toggle="toggle" data-on="GET" data-off="SKIP" data-size="mini">
                         </div>
                          </div>
                        </div>
                      </div>

                  
              </div>


              

            </div>
        </div>
    </div>

    <div class="container" style="padding-top:20px; padding-bottom">
        <div class="row">
            <div class="mbr-table-md-up">

              <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 37%;">
                  <div class="mbr-figure"><img src="assets/images/placeholder550.png"></div>
              </div>

              


              <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">
                  <h3 class="mbr-section-title display-2" style="font-size:22px;">Focus Countries/ States</h3>
                  <div class="lead">

                    <p>Focus Country/State status includes prime branding position in all advertising and publicity of the show, below the Partner Countries/States. The package includes 60 sq m of prime exhibit space at the show. Additional space can be hired on preferential rates.
<br></p>

                  </div>
                  
                  <div class="container-fluid">
                        <div class="row">
                         <div class="col-xs-12 col-sm-4">Price</div>
                         <div class="col-xs-12 col-sm-4">Rs. 45,00,000* / USD 70,000</div>
                         <div class="form-group">
                             <div class="col-xs-12 col-sm-4">
                             <input type="checkbox" data-toggle="toggle" data-on="GET" data-off="SKIP" data-size="mini">
                             </div>
                          </div>
                        </div>
                      </div>

                  
              </div>


              

            </div>
        </div>
    </div>
    
    <div class="container" style="padding-top:20px; padding-bottom">
        <div class="row">
            <div class="mbr-table-md-up">

              <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 37%;">
                  <div class="mbr-figure"><img src="assets/images/placeholder550.png"></div>
              </div>

              


              	<div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">
                  <h3 class="mbr-section-title display-2" style="font-size:22px;">Feature Countries/ States</h3>
                  <div class="lead">

	                    <p>Feature Country/State status includes prime branding position in all advertising and publicity of the show, below the Focus Countries/States. The package includes 36 sq m of prime exhibit space at the show. Additional space can be hired on preferential rates.

						<br></p>

                  </div>
                  
                  	<div class="container-fluid">
                        <div class="row">
                         <div class="col-xs-12 col-sm-4">Price</div>
                         <div class="col-xs-12 col-sm-4">Rs. 45,00,000* / USD 70,000</div>
                            <div class="form-group"> 
                                <div class="col-xs-12 col-sm-4">
                                     <input type="checkbox" data-toggle="toggle" data-on="GET" data-off="SKIP" data-size="mini">
                                 </div>
                            </div>
                        </div>
                    </div>

                  
              	</div>


              

        	</div>
        </div>
    </div>
        
                
    <div class="container-fluid" style="padding-top:40px; padding-bottom:40px; text-align:center;">
       
       <button type="submit" class="btn btn-primary">Contact/Send</button>    
      
        </div>      
            
            
    </form>
        
    </div>
    
    
    




</section>

<hr>

<section class="mbr-section article mbr-section__container" id="content6-1g" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 lead">
            <h4 class="lead">
            
                On Site Advertising
            </h4>    
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <br>
                <div>
                <button class="btn btn-sm btn-black">View Options</button>
                </div>
            
            
            
            
            </div>
            
            <div class="col-xs-12 col-md-4 lead">
            <h4 class="lead">
            
                Advertising Materials
            </h4>    
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                
                <div>
                <button class="btn btn-sm btn-black">View Options</button>
                </div>
            
            
            
            
            </div>
            
            <div class="col-xs-12 col-md-4 lead">
            <h4 class="lead">
            
                Digital and print Advertising
            </h4>    
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                
                <div>
                <button class="btn btn-sm btn-black">View Options</button>
                </div>
            
            
            
            
            </div>
            
        </div>
    </div>

</section>







{% endblock %}