{% extends "base.html" %}
                                
{% block content %}


<section class="engine"><a rel="external" href=""></a></section>
    
    
<section class="mbr-section article mbr-parallax-background mbr-after-navbar" id="msg-box8-4c" style="background-image: url(assets/images/desert.jpg); padding-top: 200px; padding-bottom: 160px;">

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">SPONSORSHIP AND PROMOTIONS</h3>
                
                
            </div>
        </div>
    </div>

</section>

<section class="mbr-section article mbr-section__container" id="content1-54" style="background-color: rgb(255, 255, 255); padding-top: 40px; padding-bottom: 0px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead"><h3>OTM Sponsoring and Advertising at a glance</h3></div>
        </div>
    </div>

</section>

<section class="mbr-section" id="msg-box6-52" style="background-color: rgb(255, 255, 255) !important; padding-top: 0px; padding-bottom: 0px;">

    
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">

              <div class="mbr-table-cell mbr-right-padding mbr-valign-top col-md-7 image-size" style="width: 55%;">
                  <div class="mbr-figure"><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/Tq7p44IA-1U?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
              </div>

              


              <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">
                  
                  <div class="lead">

                    <p><br><br><br><br>Stand out from your competitors with our customized sponsoring offers. Find all offers at a glance arranged according to your target group in our brochure ITB Berlin Sponsoring &amp; Advertising at a glance (PDF, 2.3 MB).<br><br><em><strong>No matter which goal you have: This is where you will reach it.</strong></em><br><em><strong><br></strong></em>The Promotion Package offers you a basic package containing marketing services automatically included in your stand registration.<br><em><strong><br></strong></em><br><br><br></p>

                  </div>
                  
                  <div class="container" style="padding-top:1px; padding-bottom:1px;">
                      <div class="row">
                          <div class="col-xs-12">
                              <div class="text-xs-center">
                                  <a href="#" class="btn btn-primary">
                                      Get Print Catalogue
                                  </a>
                              </div>
                              
                          </div>
                          
                          
                      </div>
                      
                      
                      
                      
                  </div>
                  

                  
              </div>


              

            </div>
        </div>
    </div>

</section>


<section class="mbr-cards mbr-section mbr-section-nopadding" id="features4-4u" style="background-color: #fff; padding-top: 20px; padding-bottom: 20px;">

<div class="card-group">
  <div class="card">
   <h4 class="card-title" style="padding :20px;">Sponsorship Packages</h4>
    <a href="SponsorshipPackages.html"><img class="card-img-bottom" src="assets/images/plc1.png" alt="Card image cap"></a>
    <div class="card-block">
    
    </div>
  </div>
  <div class="card">
   <h4 class="card-title" style="padding :20px;">On-Site Advertising</h4>
    <a href="OnsiteAdvertising.html"><img class="card-img-bottom" src="assets/images/plc2.png" alt="Card image cap">
    </a>
    <div class="card-block">
    
    </div>
  </div>
<div class="card">
   <h4 class="card-title" style="padding :20px;">Advertising Materials</h4>
    <a href="AdvertisingMaterial.html"><img class="card-img-bottom" src="assets/images/plc3.png" alt="Card image cap"></a>
    <div class="card-block">
    
    </div>
  </div>
  
</div>






</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features4-4u" style="background-color: #fff; padding-top: 20px; padding-bottom: 60px;">

<div class="card-group">
  <div class="card">
   <h4 class="card-title" style="padding :20px;">Digital and Print Advertising</h4>
      <a href="DigitalPrintAdvertising.html"><img class="card-img-bottom" src="assets/images/plc4.png" alt="Card image cap"></a>
    <div class="card-block">
    
    </div>
  </div>
  <div class="card">
   <h4 class="card-title" style="padding :20px;">Official Partner/Supplier</h4>
    <a href="MediaPartners.html"><img class="card-img-bottom" src="assets/images/plc5.png" alt="Card image cap">
    </a>
    <div class="card-block">
    
    </div>
  </div>
<div class="card">
   <h4 class="card-title" style="padding :20px;">At a Glance</h4>
    <a href="About.html"><img class="card-img-bottom" src="assets/images/plc6.png" alt="Card image cap">
    </a>
    <div class="card-block">
    
    </div>
  </div>
  
</div>






</section>










{% endblock %}