{% extends "base.html" %}
                                
{% block content %}

<section class="engine"><a rel="external" href="#">#/</a></section>
    
<section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-after-navbar" id="header5-1p" style="background-image: url(assets/images/mbr-2000x1125.jpg);">

    <div class="mbr-overlay" style="opacity: 0.4; background-color: #000;"></div>

    <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-10">

                    <h1 class="mbr-section-title display-1">VISIT OTM</h1>
                    <p class="mbr-section-lead lead" padding-top: 20px;>OTM is focussed on travel trade visitors(B2B). More than 10000 registered travel trade visitors attended OTM 2016.<br></p>
                    <div class="mbr-section-btn"><a class="btn btn-lg btn-primary" href="#">REGISTER NOW</a></div>
                </div>
            </div>
        </div>
    </div>

    

</section>

<section class="mbr-section" id="msg-box5-1r" style="background-color: rgb(255, 255, 255); padding-top: 60px; padding-bottom: 80px;">

    
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">

              <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 50%;">
                  <div class="mbr-figure"><img src="assets/images/otm-host-1400x1562.jpg" style="max-width: 400px;"></div>
              </div>

              


              <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">
                  <h3 class="mbr-section-title display-2">PARTICIPATE AS A HOSTED BUYER</h3>
                  <div class="lead">

                    <p>India’s biggest hosted buyer program was introduced at OTM in 2015. Since then, hundreds of qualified buyers are hosted every year during the OTM.<br><br>The number of hosted buyers at OTM is expected to double this year. More than a thousand sellers from all over the world will meet thousands of buyers at the OTM in Mumbai - India's largest source market of travel.<br></p>

                  </div>

                  <div><a class="btn btn-primary" href="#">REGISTER NOW</a></div>
              </div>


              

            </div>
        </div>
    </div>

</section>

<section class="mbr-section article mbr-section__container" id="content1-1e" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
    <div class="row">
        <div class="col-lg-12 container-fluid">
            <p style="text-align:center; font-weight:600; font-size:30px;">
                REASONS TO ATTEND
            </p>
        </div>
    </div>
    </div>
    <br><br>     
    
    <div class="container">
       <div class="row">
        <div class="col-sm-6 container-fluid">
           <div class="card">
            <p class="card-header" style="font-size:25px;"><i class="fa fa-check-circle">&nbsp; Heading 1</i></p>
            <br><br>
                <div class="card-block">
                   <blockquote>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit  
                    </blockquote>        

                </div>
            </div>
        </div>
        <div class="col-sm-6 container-fluid">
           <div class="card">
            <p class="card-header" style="font-size:25px;">
                <i class="fa fa-check-circle">&nbsp; Heading 1</i>
            </p>
            <br><br>
            <div class="card-block">
               <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit  
                </blockquote>        
            
            </div>
            </div>
        </div>       
        </div>
        </div>
         <br>
    
       <div class="container">
       <div class="row" id="reasons1">
        <div class="col-sm-4">
           <div class="card">
           <p class="card-header" style="font-size:25px;"><i class="fa fa-check-circle">&nbsp; Heading 1</i></p>
           <div class="card-block">
            <p class="card-text" id="headingcontentabout">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit  
            </p>
            </div>
            
            </div>
        </div>
        <div class="col-sm-4">
           <div class="card">
           <p class="card-header" style="font-size:25px;"><i class="fa fa-check-circle">&nbsp; Heading 1</i></p>
           
           <div class="card-block">
            <p class="card-text" id="headingcontentabout">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit  
            </p>
            </div>
            </div>
        </div>
        <div class="col-sm-4">
           <div class="card">
           <p class="card-header" style="font-size:25px;"><i class="fa fa-check-circle">&nbsp; Heading 1</i></p>
           <div class="card-block">
           
            <p class="card-text" id="headingcontentabout">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit  
            </p>
           </div>
           
        </div>
          </div>
           </div>
    </div>
    </section>






{% endblock %}