{% extends "base.html" %}
                                
{% block content %}


<section class="engine"><a rel="external" href="#"></a></section>
    
<section class="mbr-section article mbr-parallax-background mbr-after-navbar" id="msg-box8-1y" style="background-image: url(assets/images/desert.jpg); padding-top: 200px; padding-bottom: 160px;">

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">VISITOR REGISTRATION</h3>
                
                
            </div>
        </div>
    </div>

</section>

<section class="mbr-section" id="msg-box5-1z" style="background-color: rgb(255, 255, 255); padding-top: 80px; padding-bottom: 80px;">

    
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">

              <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 33%;">
                  <div class="mbr-figure"><img src="assets/images/image-1400x1531.jpg"></div>
              </div>

              


              <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">
                  <h3 class="mbr-section-title display-2"><span style="font-weight: normal;">OTM MUMBAI 2018</span></h3>
                  <div class="lead">

                    <p>OTM Mumbai has the largest exhibiting space and the highest number of participants in any travel show in India. Mumbai is the largest travel market in the country, generating one-third (33%) of all India-outbound traveller.<br><br>23rd – 25th Feb, 2018<br><br>Bombay Exhibition Centre, NSE Complex, Goregaon (E)<br></p>

                  </div>

                  
              </div>


              

            </div>
        </div>
    </div>

</section>

<section class="mbr-section mbr-section__container" id="buttons1-4a" style="background-color: rgb(255, 255, 255); padding-top: 0px; padding-bottom: 60px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-xs-center"><a class="btn btn-primary" href="#/mobirise-free-win.zip">REGISTER AS TRADE VISITOR&nbsp;</a> <a class="btn btn-black btn-black-outline" href="#/mobirise-free-mac.zip">REGISTER AS CORPORATE BUYER</a></div>
            </div>
        </div>
    </div>

</section>

<section class="mbr-section mbr-section__container" id="map2-4b" style="background-color: rgb(255, 255, 255); padding-top: 40px; padding-bottom: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mbr-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJJYrXeMq35zsRNt0KgDcaakA" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>








{% endblock %}